#page-create-orfanat{
    display: flex;
    min-height: 100vh;

}

main{
    flex:1;
}

.map-conteiner{
   margin: 0 0 8rem;

}


.map-conteiner .leaflet-container {
    border-radius: 20px 20px 0 0;

}
.map-conteiner footer{
    background: #f5f8fa;
    border-radius: 0 0 20px 20px;

}

