form{
    width: 70rem;
    margin: 6.4rem auto;
    background: white;
    border: 1px solid #d3e2e5;
    border-radius: 2rem;
    overflow: hidden;
    padding: 8rem;
}
fieldset{
    border: 0;
    margin-bottom: 2.4rem;
}
fieldset + fieldset{
    margin-top: 8rem;

}
fieldset legend{
    font-size: 3.4rem;
    width: 100%;
    line-height: 1.5;
    color: #5c8599;
    font-weight: 700;
    border-bottom: 1px solid;
   
}
.input-block + .input-block{
    margin-top: 2.4rem;

}
.input-block label{
    color: #8FA7B3;
    margin-bottom: .8rem;
    line-height: 1.5;

}

.input-block label  span{
    font-size: 1.4rem;
    color: #8fa7b3;
    margin-left: 2rem;
    line-height: 1.5;
}
.input-block input,
.input-block textarea{
    width: 100%;
    background: #f5f8fa;
    border: 1px solid #d3e2e5 ;
    border-radius: 2rem;
    color: #5c8599;

}

.input-block input{ 
    text-align: center;
    height: 6.4rem;
  

 
}
.input-block input:valid,
.input-block textarea:valid {
  border: 1px solid #A1E9C5;
}

.input-block textarea{
    height: clamp(12rem,16rem,24rem);
    resize: vertical;

    line-height: 2.8rem;

}

.input-block.images button {
border: 1px dashed #96D2F0;
background: #F5F8FA;
width: 100%;
height: 6.4rem;

margin-top: 2.4rem;
border-radius: 2rem;
cursor: pointer;
}

.new-uploads {
    position: relative;
  }
  
  .new-uploads + .new-uploads{
    margin-top: 2.4rem;
  }
  
  .new-uploads span {
    position: absolute;
    right: 12px;
    bottom: 14px;
  
    display: flex;
  
    background: #FFFFFF;
    border: 1px solid #D3E2E5;
    border-radius: 10px;
    box-sizing: border-box;
  
    padding: .6rem;
  
    cursor: pointer;
  }

  .new-uploads + .new-uploads{
      margin-top: 2.4rem;
  }