#page-landing{
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%) ;
    min-height: 100vh;
    text-align:center ;
    display: flex;

} 
#container{
    width: min( 90%,1120rem);
    margin: auto;   
}

.location,h1,.visited p {
    height: 16vh;

}
.visited a {
    width: 8rem;
    height: 8rem;
    background: #ffb666;
    border: none;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: background 200ms;
    animation-delay: 250ms;
}

.visited a:hover{
    background: #96f2ff;

}

#logo{
    animation-delay: 50ms;
}
#location{
    animation-delay: 100ms;
}
main h1{
    animation-delay: 150ms;
}
.visited{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.visited p{
    animation-delay: 200ms;
}

/* versão desktop */

@media (min-width: 760px) {
    #container{
        padding: 5rem 2rem;
        background: url("../images/bg.svg") no-repeat 80% / clamp(30rem,54vw,56rem);
        
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .location,h1,.visited p {
        height: initial;
        text-align: initial;
        font-size: 2.4rem;
    }

    main h1 {
        font-weight: bold;
        font-size: clamp(4rem,8vw, 8.4rem);
        line-height: .88;
        width: min(300px,80%);
        margin: clamp(10%,9vh,12%) 0 4rem;
    }
    .visited p{
        font-size: 2.4rem;
        line-height: 1.4;
        width: clamp(20rem,20vw,30rem);

    }
    .visited a {
        margin: initial;
    }
}