#page-landing{
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%) ;
    min-height: 100vh;
    text-align:center ;
    display: flex;

} 
#container{
    width: 90%;
    margin: auto;   
}

.location,h1,.visited p {
    height: 16vh;

}
.visited a {
    width: 8rem;
    height: 8rem;
    background: #ffb666;
    border: none;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: background 200ms;
}
.visited a:hover{
    background: #96f2ff;

}

#logo{
    animation-delay: 50ms;
}
#location{
    animation-delay: 100ms;
}
main h1{
    animation-delay: 150ms;
}
.visited p{
    animation-delay: 200ms;
}
.visited a {
    animation-delay: 250ms;
}
